'context-menu':
  'atom-text-editor': [
    {
      'label': 'Add Hyperlink'
      'command': 'quickhyperlink:convert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Quick Hyperlink'
      'submenu': [
        {
          'label': 'Add HTML Hyperlink'
          'command': 'quickhyperlink:convert'
        }
        {
          'label': 'Add Markdown Hyperlink'
          'command': 'quickhyperlink:convertmd'
        }
      ]
    ]
  }
]
